<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{ '/' | relative_url }}">{{ site.title | escape }}</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for my_page in sorted_pages %}
        {% if my_page.title %}
        <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
</nav>