---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$brand-color:      #7B331A;
$banner-color:     adjust-hue($brand-color,  15);
$accent-color:     adjust-hue($brand-color, -15);
$grey-color:       #888888;

$topbar-bg-color:    $brand-color;
$primary-color:      $accent-color;

$topbar-dropdown-bg: $topbar-bg-color;
$topbar-link-hover-lightness: 10%;

@import "foundation";

.foundation-data-attribute-namespace {
    font-family: false;
}

.posts {
  padding-top: 1rem;
  .post-date {
    color: $grey-color;
    font-size: small;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.post-header {
  h1.post-title {
    margin-bottom: 0px;
  }
  .post-meta {
    color: $grey-color;
    font-size: small;
  }
}
  
.footer {
  background-color: $brand-color;
  color: white;
  text-align: center;
  padding: 1rem;
  .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
  .contacts {
    .columns {
      padding-top: 1rem;
    }
    a {
      color: white;
    }
  }
}

.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}