---
layout: default
---

<div class="row hero">
  <div class="large-8 columns">
    <iframe id="ytplayer" type="text/html" width="576" height="324"
      src="https://www.youtube.com/embed/mKNe1OLaO3M?autoplay=0&origin=http://historicalmodeling.com"
      frameborder="0">
    </iframe>
  </div>
  <div class="large-4 columns">
    <div class="g-ytsubscribe" data-channelid="UCoR7aHTEh266CNiugoPdsVA" data-layout="default" data-count="default"></div>
    <p><a href="extras/historicalmodeling-preview.pdf">Preview the book</a></p>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    {{ content }}
  </div>
</div>